/* header */
.header-bg {
    background-image: url(../images/bg.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 32px;
    /* position: relative; */
}
.navigation-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo,
.nav-a {
    color: #FFFFFF;
}
.logo {
    font-size: 14px;
    font-weight: bold;
    margin-left: 139px;
  
}
.nav-a {
    font-size: 12px;
    text-transform: uppercase;
}
.active {
    color: #5863F8;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-ul li {
    margin-right: 50px;
}
.title-header {
    position: absolute;
    margin-top: 145px;
    margin-left: 139px;
    font-size: 42px;
    color: #FFFFFF;
}
.fa-bars {
    color: aliceblue;
    font-size: 30px;
}
.burger {
    display: none;
}
.header-box {
    display: flex;
    margin-left: 139px;
    margin-top: 200px;
}
.header-text {
    color: #FFFFFF;
}
.divider {
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
}

/* section */
.form-block {
    display: flex;
    flex-direction: column;
  
}
.input-block {
    width: 200px;
    height: 45px;
    margin-top: 15px;
    padding: 15px;
    border: none;
}
.container {
    width: 100%;
    padding: 90px 0;
    background-color: lightgray;
    margin-top: 90px;
    margin-bottom: 90px;

}
.form-box {
    margin-left: 139px;
    display: flex;
    justify-content: space-between;
    margin-right: 139px;

}
.button-block {
    width: 200px;
    height: 45px;
    background-color: #5863F8;
    margin-top: 30px;
    color: #FFFFFF;
    border: none;
}
.fa-location-arrow {
    color: #FFFFFF;
    font-size: small;
    margin-left: 20px;
}
.label-text {
    color: blue;
}


.input2-block {
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
    padding: 15px;
    border: none; 
    background-color: lightgray; 
}
.textarea-block {
    width: 700px;
    height: 250px;
    border: none;
    resize: none;
    background-color: lightgray; 
    padding: 30px;
}
.form2-box {
    display: flex;
    justify-content: space-between;
    margin-left: 139px;
    margin-right: 139px;
}
.button2-block {
    width: 400px;
    height: 50px;
    background-color: #5863F8;
    color: #FFFFFF;
    border: none;
}
.form-text {
    width: 300px;
    margin-left: 139px;
    margin-bottom: 30px;
}
.form-text1 {
    color: blue;
    text-transform: uppercase;
    
}
.form-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}
.container2 {
    width: 100%;
    /* padding: 90px 0; */
    margin-bottom: 60px;
}
.input2-block:focus,
.textarea-block:focus {
    outline: none;
}

.box-wraper {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: #5863F8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 0 auto;
}
.box-1 p, h3 {
    width: 250px;
    text-align: center;
    
}
.box-1 h3 {
    margin-top: 26px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}